footer{
    .logo
    {
        font-family: Daniel;
    }
    background: #38a0e4;
    padding: 50px 0;
    color: white;
    margin-top: 50px;
    .top-footer{
        border-bottom: 2px solid #ffffffc2;
        padding: 15px;
    }
    .bottom-footer{
        margin-top: 10px;   
    }
    .footer-nav{
        padding-top: 20px;
    }
    .nav
    {
        margin-top: 20px;
        display: inline;
        margin-top: 20px;
        margin-bottom: 50px;
       li{
           display: inline;
           &:not(:last-child){
            margin-right: 25px;
           }
       }
        a{
            color: white;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .social a
    {
        font-size: 40px;
        color: white;
        padding: 0;
        margin: 0;
        padding-right: 5px;
        i{
            padding: 0;
            margin: 0;
        }
    }
}