@import "app";
@font-face {
	font-family: "Daniel";
    src: url("fonts/Daniel-Regular.otf") format("otf")
}
@font-face {
    font-family: "Daniel";
    font-weight: bold;
    src: url("fonts/Daniel-Bold.otf") format("otf")
}

.main-bg
{
    height: 100vh;
    width: 100%;
    min-height: 780px;
    background-size: cover;
    nav{
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px 50px;
        padding-bottom: 10px;
        font-weight: normal;
        width: auto;
        box-shadow: none;
        background: none;
        
    }
    
    
    li {
      display: inline;
      padding-right: 5px;
      &:hover{
          background: none;
      }
      a{
          &:hover{
            background: none;
        }
      }
    }
    ul{
        list-style: none;
    }
    svg{
        margin-top: -5px;
        margin-left: -1px;
    }

    .typed{
        font-family:'Daniel';
        color: white;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        text-align: center;
        top:260px;
        position: absolute;
        font-size: 25px
    }
    .btn-started
    {
        position: absolute;
        top: 320px;
        left: 0;
        right: 0;
        margin: auto;
        width: 200px;
        text-transform: uppercase;
        color: rgb(49, 54, 63) !important;
    }
}
.missions-wrapper
{
    position: relative;
    background: white;
    padding: 40px 0;
    margin-top: 21px;
    box-shadow: 2px 2px;
    box-shadow: 0px -8px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    .card-mission{
        width: 50%;
        position: absolute;
        top: -41px;
        border-radius: 0;
        margin: auto;
        left: 0;
        right: 0;
        text-transform: uppercase;
        font-size: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    .odd
    {
        background: whitesmoke;
    }
    .price
    {
        color: #48b18a;
        font-weight: bolder;
    }
    .categorie{
        font-weight: bolder;
    }
}

.feature-freelance{
    padding: 0;
    box-shadow: -11px -1px 6px rgba(0,0,0,0.16), -1px -8px 6px rgba(0,0,0,0.23);
  
    background-size: cover;
    background-position: right;
    position: relative;
    &::before{
        content: "";
        opacity: 0.6;
        width: 100%;
        height: 100%; 
        position: absolute;
        top: 0;
        background: rgb(40, 69, 134)
    }
    h4{
        position: absolute;
        top: 0;
        color: white;
        font-size: 30px;
        left: 0;
        right: 0;
        font-weight: bold;
        margin: auto;
        top: 40%;
        text-align: center;
        text-transform: uppercase;
        a{
            width: 150px;
            margin: auto;
            margin-top: 18px;
        }
    }
}
.last-freelacner
{
   background: white;
    box-shadow: 2px 2px;
    box-shadow: 0px -8px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-align: center;
    .freelancer-list{
            padding-top: 4px;
    }
    .freelance-img{
        border-radius: 100%;
        width: 60px;
        height: 60px;
    }
    .freelancer-info{
        text-align: left;   
        p{
            margin: 0;
    
        }
    }
    .single-freelance:not(:last-child){
        border-bottom: solid 2px rgba(0, 0, 0, 0.08);;           
    }
    .single-freelance{
        background: white;
        padding: 15px 0; 
        margin: 0;
        &:hover{
            transition: all .2s ease-in;
            transform: scale(1.08) translateZ(0);
            z-index: 2;
            backface-visibility: hidden;
            color: white;
            background: #38a0e4;
        }
        .freelancer-info{
            .info{
                display: flex;
                align-items: center;
                span{
                    margin-left: 5px;
                }
                i{
                    font-size: 25px;
                }
            }
         }
    }
    
}

@import "layout/footer"