
@import "~sweetalert2/dist/sweetalert2.min.css";
.btnModify{
    background: #00bfa5 !important;
    color: white;
    margin-bottom: 10px;
}
.biographie {
    .bio-skill{
        border: none;
    }
}
.badge-light-modify{
    background: #00bfa5 !important;
    cursor: pointer;
    font-weight: 100;
    font-size: 12px;
}
.top-user-info{
    p{
        font-size: 15px;
        margin: 0;
        margin-top: 10px;
        font-weight: bold;
    }
}

.user-info{
    .form-control{
        border: none;
        border-bottom: solid 2px #00bfa5;
        border-radius: unset;
        padding-bottom: 0;
        margin-bottom: 20px;
    }
    h4:nth-child(2){
        border-bottom: solid 1px rgb(65, 63, 78) !important;
    }
}